 <!-- <div #cid (change)="showOption(cid.value)"> 
    <div *ngFor="let cont in contacts" [value]="cont.firstName"> 
        {{cont.firstName+cont.lastName}}<br>
        {{cont.phoneNumber}}        
    </div>
 </div>
    <div>
        <app-contacts [myContacts]="contacts"></app-contacts>
    </div> -->

<!-- </div> -->

<!-- <select  #cid (change)="showOption(cid.value)">
    <option *ngFor="let cust of customers" 
    [value]="cust.id"  >{{cust.id}}</option>
</select>
<section>
    <app-contacts [myContacts]="contacts"></app-contacts>
</section> -->